[2012-09-15 13:43] Constellation opened #1 "Add isArgumentsMaterialized function to scope"
related to Constellation/esmangle#25

[2012-09-15 16:06] #1 closed, assigned to nobody

[2012-09-19 02:32] Constellation opened #2 "Add ignore eval option"
Sometimes ignoring eval is useful.

[2012-09-19 02:33] Constellation opened #3 "Add ignore with option"
Sometimes ignoring with is useful.

[2012-12-02 23:21] keeyipchan opened #4 "What is Scope.tip used for?"
I can't find any references to it within the escope code.

[2012-12-02 23:34] #4 closed, assigned to nobody

[2012-12-02 23:58] keeyipchan opened #5 "Can Scope.mangledName be removed?"
I can't find a reference to this property in the escope code.

[2012-12-02 23:59] #5 closed, assigned to nobody

[2012-12-03 00:34] keeyipchan opened #6 "Rename global scope variable to currentScope"
I think this would help with readability.
It's easy to mistake it with the local variable in certain prototype functions such as `ScopeManager.prototype.__get` or `ScopeManager.prototype.release`

[2012-12-04 16:56] #6 closed, assigned to nobody

[2012-12-24 21:12] keeyipchan opened #7 "Named function expression causes duplicate scopes in ScopeManager"
Please take a look at the illustration

Right: the sample code
Left (pseudocode): `each(escope.analyze(code).scopes, function(scope) { return scope.block }`
<img src="http://content.screencast.com/users/keeyipchan/folders/Jing/media/5fa0378e-c45e-4df8-9830-5a7f61dd1934/00000004.png"/>

[code]

[2012-12-27 22:49] #7 closed, assigned to nobody

[2013-01-17 17:24] michaelficarra opened #8 "add function to Scope.prototype that tests whether a fresh name is safe to use"
Something like this:

[code]

I needed to implement something like this in michaelficarra/brushtail@532d09f2dde8d7b1686c739154c226f0d0217dd1

I figured it was more appropriate to pull this into escope. An alternative would be a function that takes a name-generating function (which takes a seed) and runs it until the name is safe to use.

[code]

**edit:** Updated first code sample, boolean logic w

[2013-01-19 15:39] #8 closed, assigned to nobody

[2013-03-22 16:42] alex-seville opened #11 "Scope tree documentation"
Is the scope tree that is output based on a standard or is it custom to this project?

I'm trying to identify the variables that are exported, by parsed code, to the global object.

On a trivial example reading the variables array of the global scope object works.

However, when I parse a file that passes in the context I see an empty variables array in the global object, and I'm not sure how to d

[2013-05-04 20:05] mazurov opened #14 "Escope demo"
[Scope Objects Visualization](http://mazurov.github.io/escope-demo/) &mdash; could be a useful tool for escope users.

![screenshot](https://f.cloud.github.com/assets/75759/462920/7aa6dd40-b4f5-11e2-9f07-9f4e8d0415f9.gif)

[2013-05-04 21:43] Constellation opened #15 "Add optimistic option"
Currently Escope analysis is pessimistic.
For example, with statement / direct call to eval makes references unreachable.

[code]

This is because originally Escope is extracted from Esmangle project. Esmangle takes conservative approach on minification, that is Esmangle must not break any JS code semantics.

But in the other fields such as syntax coloring, optimistic scope analysis is useful.

So

[2013-05-06 06:22] michaelficarra opened #16 "`through` contains variables with initialisers, but not those without"
This can be reproduced with the following program:

[code]

`c` is a `through` reference in the `while` scope, but `b` is not.

[2013-05-06 10:51] #16 closed, assigned to nobody

[2013-05-06 13:27] #14 closed, assigned to nobody

[2013-07-02 03:48] glasser opened #17 "Why does `for (x in y)` not create an ImplicitGlobalVariable?"
If `x` is not otherwise defined, doesn't `for (x in y)` create an implicit global variable just like `x = y` does?

(Arguably `++`/`--` and the `+=` class of operators do too, but they don't really create something from nothing. `for (x in y)` does.)

[2013-07-02 04:35] #2 closed, assigned to nobody

[2013-07-17 22:33] Mindonaut opened #19 "Incorrect number of scopes reported for a function declaration case"
Hi Yusuke!

First, let me thank you for all projects you have published on github, I am finding them quite interesting and useful. Also, let me know if this is not the best channel for communication in regards to these libraries.

While running escope.analize on the following code:

function getAdd1toX(x) {
  return function add1toX() {
    x = x + 1;
    return x;
  }
};

Although I would expect

[2013-07-18 09:51] #19 closed, assigned to nobody

[2013-08-16 13:05] pigulla opened #21 "Variable leaking into global scope"
Consider the following source:

[code]

When I run escope via this script:

[code]

I get the following outpout: `["a", "x"]`

Interestingly, if I change `x = 42` to `x()` or simply `x`, it does not appear in the output.

Am I using escope incorrectly or why is `x` in the global scope?

[2013-08-16 16:12] #21 closed, assigned to nobody

[2013-08-16 16:12] #17 closed, assigned to Constellation

[2013-08-16 16:40] #15 closed, assigned to Constellation

[2013-08-16 16:40] #3 closed, assigned to nobody

[2013-08-16 21:45] pigulla opened #22 "Variable erroneously tagged as ImplicitGlobalVariable"
This is probably a regression bug for the fix introduced in #21

Test script:

[code]

Input source:

[code]

Output with escope 0.14.0:
`[ 'Variable' ]`

Output with escope 0.15.0 and 0.16.0:
`[ 'Variable', 'ImplicitGlobalVariable' ]`

[2013-08-17 06:29] #22 closed, assigned to nobody

[2013-09-08 17:24] ilyavolodin opened #23 "Escope incorrectly moves variables into global scope, from nested functions."
While parsing the following example:

[code]

Escope incorrectly moves "test" variables from anonymous function into global scope. Since anonymous function is called from within function a, and a has "test" variables declared, variable will not be in the global scope.

[2013-09-08 17:53] #23 closed, assigned to nobody

[2013-10-14 00:37] nzakas opened #25 "Incremental scope generation"
For ESLint, it would be awesome if we could have incremental scope generation. What I mean is that we are already doing a traversal, but right now we have to do at least two: one for escope and then one for what ESLint is doing. If there was a way to hook escope into using the traversal that ESLint is doing, it would dramatically decrease the running time.

Is this possible?

[2013-11-13 02:44] ilyavolodin opened #27 "adding eval inside a function puts all variables into global through"
The following code:

[code]

Will put one variable into `through` array - `alert`. However, if you change `alert` to `eval` like so:

[code]

There are now 3 variables in `through`. `eval`, `ultimateAnswer` and `stuffToEval`.

This was found and reported here: https://github.com/nzakas/eslint/issues/376

[2013-11-27 21:59] #27 closed, assigned to nobody

[2014-01-10 01:04] shz opened #29 "Scope for ObjectExpression does not conform to Parser API spec"
From https://developer.mozilla.org/en-US/docs/SpiderMonkey/Parser_API#Expressions

[code]

`esprima` adds a non-standard `type: "Property"` field to this declaration, which `escope` relies on.

This is pretty pedantic, I know, but I'm reporting it because it causes `esmangle` to give bad output using the `acorn` parser.  Specifically:

[code]

Results in

[code]

[2014-01-18 22:00] #29 closed, assigned to nobody

[2014-02-16 17:21] Constellation opened #33 "Add ES6 Support"
Supporting ES6 block scopes and some special scopes (such as arraw function and method)

[2014-06-24 18:15] mrennie opened #35 "Missing version 1.0.1 tag"
Commit https://github.com/Constellation/escope/commit/b7a76d9c005315cd0d8227bc17a3ae9cd9774453

indicates that development has started on version 1.0.2 but there is no tag for the 1.0.1 version release.

[2014-11-24 09:52] tolmasky opened #37 "References not counting vars without init expressions"
Perhaps I'm just not understanding the documentation on references and through, but the following:

[code]
1. Correctly produces y, u, and z for the variables.
2. (Incorrectly?) only counts y in the references
3. (Incorrectly?) adds y to the "through".

If I change "var u" to "var u = 2", all of a sudden u shows up both in references and through.

[2014-11-30 19:49] #37 closed, assigned to nobody

[2014-12-18 08:08] btmills opened #39 "Broken links in docs after moving to estools org"
I sent PR #38 to take care of the JSDoc link in the README, but there are broken links in the docs themselves still referencing constellation/escope. GitHub is smart enough to redirect some of these, but external links to travis for example won't work until they're updated.

[2014-12-19 17:13] #39 closed, assigned to nobody

[2014-12-31 18:44] Constellation opened #40 "Use ES6"
Use ES6 to write escope.

One technical note is that, current `jsdoc` doesn't support it...

[2015-01-02 09:13] okuryu commented on #40
YUIDoc should works well. :)

[2015-01-03 01:44] Constellation commented on #40
@okuryu,

Oh! That sounds great. I'll try it out :)

[2015-01-08 17:53] Constellation commented on #40
Seeing the latest jsdoc, we can parse the ES6 :D
So I've updated the code base to ES6.

[2015-01-08 17:53] #40 closed

[2015-01-09 19:48] RReverser commented on #11
@Constellation Ping. Are there any docs on tree structure and APIs except as for generated ones? They don't feel clear enough as it's hard to find "entry point" and some really basic simple example from which you can start and understand how it works (but maybe I'm just too <s>stupid</s> lazy to dig into it) :/

[2015-01-09 19:52] RReverser opened #41 "Add support for property references"
For my task, I need to collect & pass minimum of data referenced by the given function from outer scope i.e. if it references `globalObj.prop1` and `globalObj.prop2` I'd like to get list of those props and not just `globalObj`.

Do you think it would be possible / easy to extend escope to support collection of such property references?

[2015-01-09 20:12] RReverser commented on #41
Sorry, probably I just didn't dig into docs yet.

[2015-01-09 20:20] RReverser opened #42 "Declared var has `resolved: null`"
When I try to analyze smth as simple as

[code]

I get `localVar` in `globalScope.through` and it's `resolved` property equals to `null` (while the var is obviously local and shouldn't be among unresolved references).

[2015-01-09 20:21] RReverser commented on #42
Simple wrapping code into a IIFE fixes the issue, but I believe it should be "resolved" even when not wrapped.

[2015-01-09 20:31] Constellation commented on #42
Thank you for your report.
Currently, we take quite conservative analysis. (This is because we use escope for minifier, it should not break the code)
Since it's a global scope, there's a lot of chance to define variables. e.g. `window.variable = x`.
We cannot determine that reference is absolutely resolved with this variable declaration.
So escope makes references to the global variables as unreso

[2015-01-09 20:34] Constellation commented on #42
__NOTE__:
If you specifies `optimistic: true`, it affects on the `with` and `eval` scopes.
If it is preferable to handle the global scope specially, please inform me.
I'll add / extend the escope to handle it :D

[2015-01-09 20:45] Constellation commented on #33
__TODO__:
Need to support TDZ completely. Maybe instead of creating TDZ scope, marking reference as TDZ seems better.

[2015-01-09 20:50] RReverser commented on #42
As far as I understand, `window.variable` can appear inside IIFE as well, so it doesn't really help if you avoid it only in the global scope. On the other hand, those vars that are explicitly defined, have absolutely same semantics in global and function scopes, and you can be always sure that it's defined and "resolved".

Where am I wrong?

[2015-01-09 21:17] RReverser commented on #42
In any case, ability to get them as `resolved` through flag would be definitely sufficient for my needs, everything else is just pure interest :)

[2015-01-09 21:19] Constellation commented on #42
Thank you! Strictly speaking, there's a difference.
If it's a function scope, basically (unless there's `eval`. `eval` is also treated conservatively in escope) all variables are defined in the provided code and we can know the status of the variables. (configurability)
However, the global scope is not the same. The global scope may have the other variables.

For example, we assume that our global

[2015-01-09 21:23] michaelficarra commented on #33
@Constellation: Yes, that is what we plan to do with shift-scope-js: https://github.com/shapesecurity/shift-scope-js/issues/17

[2015-01-09 21:25] RReverser commented on #42
Thanks for a detailed explanation!

Yeah, I also think that people don't use `delete` often enough to make those vars unavailable at all just for it.

This could definitely work, thanks!

[2015-01-09 21:34] Constellation commented on #33
@michaelficarra:

Yeah, that's very cool. Agreed.

In the current version of `escope`, we explicitly create the `TDZ` scope for iteration-statements.
But creating TDZ scopes requires too many TDZ scopes (per let variable :P).
It's not suitable for users.
Tainting the reference as `TDZ` seems very nice solution :)

[2015-01-09 21:34] Constellation commented on #42
OK, so I'll implement it :)

[2015-01-09 22:04] RReverser commented on #42
Thanks!

[2015-01-10 18:38] nzakas commented on #33
@constellation almost there (only three failing tests!), but I might have found a bug. For this code:

[code]

I get a scope that has `q` in the `references` array:

[code]

So it looks like labels are incorrectly being added as in-scope identifiers. Can you confirm?

[2015-01-10 18:38] nzakas commented on #33
Forgot to mention, I'm use 2.0.1.

[2015-01-10 18:40] Constellation commented on #33
@nzakas

Nice catch!! I'll fix it :)

[2015-01-10 18:51] Constellation commented on #33
@nzakas

OK, I've fixed the bug.
Which is the preferable for you?

1. update the `2.0.1` code with this fix.
2. publish the current code as `3.0.0`, currently `TDZ` is not updated yet. But other things are almost identical.

[2015-01-10 19:00] nzakas commented on #33
If you can update 2.0.1 with the fix, I can keep testing for other incompatibilities.

[2015-01-10 19:03] Constellation commented on #33
OK, so I've published it as `2.0.2`, it shipps the above bug fix :)

[2015-01-10 19:11] nzakas commented on #33
Thanks!

[2015-01-17 17:22] nzakas commented on #33
I found one more issue. It looks like escope isn't marking increment/decrement as write operations. For example:

[code]

The `ref` for this has `ref.isWrite()` return `false`, whereas in 1.x it returned `true`.

[2015-01-18 06:14] Constellation commented on #33
@nzakas
Cool! I'll fix it :)

[2015-01-18 06:21] Constellation commented on #33
@nzakas

I've fixed it and released it as `2.0.3` :)

[2015-01-18 16:24] nzakas commented on #33
Thanks!

[2015-01-31 15:57] nzakas commented on #33
@Constellation Found a couple more issues.

First, when using a label, references inside the label are not counted accurately:

[code]

In this example, the variable `foo` incorrectly reports zero `references` when there should be one.

Second, block scope references don't appear to work in loops:

[code]

The variable `prop` also shows up with zero `references` instead of two.

[2015-01-31 20:10] nzakas opened #43 "Support Node.js scoping as an option?"
Would you consider supporting Node.js scoping? Node.js does a weird thing where the module code is actually run inside a function, so this:

[code]

is legal even though it's not in a function because it's actually interpreted as:

[code]

What I'm proposing is a new flag `nodejsScope` that can be set to `true` to artificially add a function scope immediately following the global scope.

That way,

[2015-01-31 20:51] nzakas commented on #33
Sorry, I should have said `isRead()` was the problem, not `references`.

[2015-02-01 01:12] nzakas commented on #33
Okay, nailed down the problem for the `let` in loops. Basically, the variable `prop` appears in the `variables` array for both the `TDZ` scope and the `block` scope. The reference to `prop` inside the `block` scope is then counted as a reference to `prop` in `block`, whereas the `prop` in `TDZ` is said to have zero references. This is what's confusing ESLint.

For the time being, I can avoid check

[2015-02-01 09:00] Constellation commented on #33
@nzakas

Oh, thank you for your pointing.
These are raised when using `ecmaVersion: 6`?
I'll investigate this issues.

[2015-02-01 16:15] nzakas commented on #33
Yes, with ecmaVersion: 6.

[2015-02-03 00:46] kevinb7 opened #45 "ScopeManager.prototype.attach doesn't seem to do anything anymore"
Has ```attach``` been deprecated?  If so, what should I be using instead?

[2015-02-03 00:49] Constellation commented on #45
Yes.
Previously it is used to attach scope to Node property. But now, we use WeakMap to maintain this relationship, so `attach` and `detach` is not necessary anymore.

[2015-02-03 00:51] Constellation commented on #45
Simply, `acquire(node)` returns the scope :)
(node is the AST node that creates scope, e.g. `FunctionExpression`)

[2015-02-03 00:53] kevinb7 commented on #45
Thanks.  Would you mind if I add a "Usage" section to README.md that describes this?

[2015-02-03 00:54] Constellation commented on #45
That's very very nice!

[2015-02-03 00:55] kevinb7 commented on #45
Cool.  I'll do that right after I get it working in my code.

[2015-02-03 00:55] #45 closed

[2015-02-28 17:05] nzakas opened #47 "Rest arguments are ignored"
In the latest escope with `ecmaVersion: 6`, rest arguments are ignored. For example:

[code]

In this code, the `b` argument isn't found by escope.

I believe I have a fix for this.

Related: https://github.com/eslint/eslint/issues/1543

[2015-02-28 19:46] #47 closed

[2015-03-06 20:36] Constellation commented on #43
This suggestion looks reasonable and nice.
Do you have a patch? Or is it preferable that I create the patch?

[2015-03-06 21:41] nzakas commented on #43
If you have the time, please go ahead. :) If not, I'll probably have time in the next couple of weeks to attempt a patch.

[2015-03-06 21:48] Constellation commented on #43
OK, since now I have some time, I'll implement it ;)

[2015-03-06 22:28] #43 closed

[2015-03-06 22:51] Constellation commented on #43
OK, I've released it as `2.0.6` (backporting)

[2015-03-06 22:52] nzakas commented on #43
Thanks!

[2015-03-08 02:09] nzakas opened #49 "Misses class references"
The 2.0.5 version misses references to classes, such as:

[code]

escope fails to identify `new Shoe()` as a reference.

[2015-03-08 02:28] nzakas commented on #49
Looks like `Shoe` ends up in the global scope's `through` array, and ESLint is picking up on that.

[2015-03-08 02:30] nzakas commented on #49
I tried to figure this out, but I'm still really unfamiliar with how variables are added to scopes and counted as references. :(

[2015-03-08 02:31] nzakas opened #50 "Missing super identifier"
In class methods, there should be a `super` identifier prepopulated in the scope (similar to `this` and `arguments`).

[2015-03-08 02:59] michaelficarra commented on #49
Top-level classes should add their binding to the lexical contour because they create block bindings, not var bindings.

[2015-03-08 03:03] michaelficarra commented on #50
That isn't how `super` works. It must be the target of a call or a member access. It is not a regular identifier, doesn't resolve how other identifiers do in the scope chain, and shouldn't show up in escope's output.

[2015-03-08 03:07] nzakas commented on #50
It needs to show up as a reference somehow to have a complete picture of what's happening. How would you recommend that be done?

[2015-03-08 03:22] michaelficarra commented on #50
Since super resolves through home objects, you should be able to statically resolve these references. I'm not sure what you're asking.

[2015-03-08 14:55] Constellation commented on #49
I'll investigate it.

[2015-03-08 15:10] Constellation commented on #49
@nzakas

Hm, I've created the test and it seems passed.

Currently, `escope` conservatively annotate all global variable as `through` because `escope` doesn't know much about global scope.
You can use `optimistic: true` option.

[2015-03-08 16:37] nzakas commented on #49
This is how ESLint determines if a global reference is unresolved:

1. Filter global scope's `through` so we get only references that are read (not write).
1. Compare each of those references to those in the global scope's `variables` array.
1. If there's anything in `through` that is not in `variables`, then flag it as unused.

You can see the code here: https://github.com/eslint/eslint/blob/mast

[2015-03-08 16:39] michaelficarra commented on #49
@Constellation Top-level block bindings (`let`, `class`, etc.) should be added to a child scope of the global scope. This scope is not dynamic and should be able to statically resolve references.

[2015-03-09 16:18] nzakas commented on #50
Not exactly. I suppose what I'm really asking for is for `super` to act like `this` in escope. `this` doesn't exist as a scope variable and `this` references don't count as references in escope. The problem right now is that `super` does count as a refreshed, and that's throwing things off.

[2015-03-09 16:19] nzakas commented on #49
Adding to the global scope is also causing issues as it relates to module imports in ESLint.

[2015-03-09 16:48] Constellation commented on #49
@michaelficarra:

Correct? According to the 14.5.16 http://people.mozilla.org/~jorendorff/es6-draft.html#sec-class-definitions-runtime-semantics-evaluation
[code]
And 14.5.15 http://people.mozilla.org/~jorendorff/es6-draft.html#sec-runtime-semantics-bindingclassdeclarationevaluation
[code]

And at that time, env is the environment record of global scope,

[2015-03-09 16:56] michaelficarra commented on #50
Agreed. :+1:

[2015-03-09 19:06] fczuardi opened #51 "ES6 module import tests relies on a version of esprima that doesn't follow estree spec"
If you look at https://github.com/estools/escope/blob/master/test/es6-import.coffee#L25 you see that the tests for es6 uses an esprima version that does not generate https://github.com/estree/estree spec compliant ast

For example:

**ast.body[0].specifiers** for code ```'import v from "mod"'``` is expected to output:

     [ { type: 'ImportDefaultSpecifier', local: { type: 'Identifier', name: 'v'

[2015-03-09 19:14] fczuardi commented on #51
by the way, there is no version of esprima at the moment that follows estree, the harmony branch is old and master is expected to merge https://github.com/eslint/espree changes to esprima master soon according to comments on Freenode's IRC channel #esprima

[2015-03-09 19:17] fczuardi commented on #51
related: https://github.com/estools/escope/issues/33

[2015-03-09 19:19] Constellation commented on #50
@nzakas:

LGTM. `escope` should handle `super` reference specially.

[2015-03-09 19:30] fczuardi commented on #51
and the proper esprima issue might be this one: https://github.com/jquery/esprima/issues/1000

[2015-03-09 19:34] Constellation commented on #50
@nzakas, @michaelficarra :+1:

How `super` is handled in `estree` project?
We need to align it.

[2015-03-09 19:42] nzakas commented on #51
Yeah, Espree is the first parser to implement the ESTree representation of ES6 modules.

[2015-03-09 19:44] Constellation commented on #51
`estraverse`, `esrecurse` are now upgraded to suppert those types :)
So next is `escope` :D

[2015-03-09 19:44] nzakas commented on #50
`super` is just represented as an `Identifier`, same as `this`.

[2015-03-09 19:45] nzakas commented on #51
Yay!

[2015-03-09 19:46] Constellation commented on #50
I remember that `this` is represented as `ThisExpression`, right?
Anyway, I'll implement it with assumption that `super` is represented as `Identifier`.

[2015-03-09 19:52] #50 closed

[2015-03-09 20:27] fczuardi commented on #51
if replaced with espree, lines such as this one https://github.com/estools/escope/blob/master/src/referencer.js#L117 must be updated to use node.local instead of node.id

[2015-03-09 20:37] fczuardi commented on #51
one possible fix to this bug:

[code]

[2015-03-09 21:03] nzakas commented on #50
Oh yeah, there's `ThisExpression`. So far, there's no `SuperExpression`. I just filed an issue to get clarification: https://github.com/estree/estree/issues/54

[2015-03-09 21:09] nzakas commented on #51
It would probably be easier to replace `node.id` with `node.local || node.id`

[2015-03-09 21:20] fczuardi commented on #51
true, here is a pull request: https://github.com/estools/escope/pull/52

[2015-03-10 16:45] Constellation commented on #50
@nzakas
Cool :)

[2015-03-10 16:47] Constellation commented on #51
Other nodes, (exportXXX should be handled).

[2015-03-10 17:38] ai commented on #51
@Constellation do you have a plan to release this fix?

[2015-03-10 18:02] Constellation commented on #51
@nzakas, @ai

What do you think of updating the major number with these ES6 commits?

[2015-03-10 18:04] ai commented on #51
@Constellation it will be more difficult for me personally, because I will be wait for eslint update (this issue is critical for me).

But we must do it, if  we change the API. But maybe it is only a fix, because new behaviour was expected from current API?

[2015-03-10 18:46] nzakas commented on #51
It looks like these changes are backwards compatible, so I don't think a major version bump is necessary.

[2015-03-10 18:54] Constellation commented on #51
@nzakas, @ai

Ah, my concern is that, to align to estree that is actively developed, we will need to change/add/drop many nodes. So I'm worrying about that backporting becomes difficult.
Maybe, this change can be easily port to 2.0.x. So I'll pick it to 2.0.x now :)

[2015-03-10 18:55] nzakas commented on #51
Oh yeah, I was just thinking about the changes for this issue, specifically. With all the node changes, it's probably best to do a major version bump.

[2015-03-10 18:57] Constellation commented on #51
And I'll pick `super` support and I'll publish it as `2.0.7` soon! :D

[2015-03-10 18:59] nzakas commented on #51
Awesome!

[2015-03-10 19:18] Constellation commented on #51
Released as `2.0.7` :)

[2015-03-10 20:34] nzakas commented on #51
Thanks!

[2015-03-10 23:38] nzakas commented on #51
@Constellation I'm not sure what happened, but 2.0.7 seems to have a regression related to `AssignmentPattern`. See: https://github.com/eslint/eslint/issues/2001

[2015-03-10 23:43] Constellation commented on #51
@nzakas

Ah, current escope is locked with estraverse `1.9.x` because there's no exportxxx node support in estree.
We need to implement all ExportXXX node before updating estraverse to `2.0.x`.

[2015-03-10 23:49] Constellation commented on #51
@nzakas

Maybe, to support ExportXXX, only modifying `ExportSpecifier` is sufficient I think.
I'll create a patch and update the estraverse contained in `escope`.

[2015-03-11 01:35] Constellation opened #53 "Drop function's rest support"
Use `RestElement` and drop function's rest  support.

/cc @nzakas

[2015-03-11 01:45] Constellation commented on #51
`AssignmentPattern` is done in b713c53fc5b23c8df3a947af8f91f58e93b78751.

[2015-03-11 02:15] nzakas commented on #53
:+1: we also will make this switch as a breaking change

[2015-03-11 22:45] michaelficarra commented on #49
@Constellation: Okay, I was thinking about Modules.

Only for Script evaluation. See steps 6 and 7 from 15.1.7:

For modules, `env` will be `module.[[Environment]]`, which was set up in a call to `ModuleDeclarationInstantiation` (section 15.2.1.16.4). See steps 11 and 12 of section 15.2.1.16.5:

This is the "lexical contour" I was talking about.

[2015-03-12 18:57] Constellation commented on #53
@nzakas

Could you tell me when this is switched?
At that time, I'll drop `function.rest` and handle `RestElement` in function's `params`.

[2015-03-12 23:58] nzakas commented on #53
Yup. We have this issue tracking it: https://github.com/eslint/espree/issues/84

Is this blocking for the module-related changes?

[2015-03-14 17:42] Constellation opened #54 "Upgrade major version of escope"
Now `estraverse`, `esrecurse` used in escope are upgraded and there's added/removed AST nodes,
so there're breaking changes. So I think it's time to upgrade major version.

@nzakas
Is it possible to upgrade the major version of escope on whcih eslint depends?
If it's too difficult, we need to consider another way.

[2015-03-14 18:50] nzakas commented on #54
Yup, it's possible.

[2015-03-14 18:51] Constellation commented on #54
@nzakas
Great!!!!!!!! So I'll release it as `3.0.0`. It includes many ES6 node supports,
`RestElement`, `AssignmentElement` (which enables default parameters) etc.

[2015-03-14 18:52] nzakas commented on #54
Cool! Does it also support `SuperExpression`?

[2015-03-14 19:09] Constellation commented on #54
I've published it as `3.0.0`!

@nzakas:
Partially yes. `SuperExpression` is currently supported as `Identifier`.
When introducing `SuperExpresison` to estree is done, I'll add it ASAP! (also `estraverse` and `esrecurse`).

NOT:
in the latest release, we use `3.0.0 `estraverse` and `esrecurse`. They are more compilant to estree spec.
Major change is

+ `CatchClause` no longer has `handlers` & `guar

[2015-03-14 19:09] Constellation commented on #54
Oops, I've miss-spelled, NOT => NOTE.

[2015-03-14 19:10] Constellation commented on #54
When you find bugs, please file it :)
I'll fix them.

[2015-03-14 19:44] nzakas commented on #54
`SuperExpression` should be merged soon: https://github.com/estree/estree/pull/57

I'll also have to update Espree to use `RestElement` and `AssignmentElement`. Although, shouldn't `AssignmentElement` be `AssignmentPattern`?

[2015-03-14 19:47] Constellation commented on #54
@nzakas

Ah, oops. `AssignmentElement` is typo. `AssignmentPattern` is right, and `AssignmentPattern` is supported.

Nice! I'll add it to `estraverse` / `esrecurse` / `escope`.

[2015-03-14 19:50] Constellation commented on #54
I've added `SuperExpression` to `estraverse` and `esrecurse` and released them as `3.1.0`.

[2015-03-14 19:58] nzakas commented on #54
Thanks!

[2015-03-14 19:59] Constellation commented on #54
And released escope as `3.0.1` :)

[2015-03-14 20:22] #54 closed

[2015-03-31 01:16] jbrumwell opened #56 "Top level variables don't have references assigned"
Give the following code and using http://mazurov.github.io/escope-demo/;

[code]

You can see the variable `a` has an empty references property here, The references are available under `scope.references` just not attached to the variable.

[2015-04-01 22:17] megawac opened #57 "Try blocks not identified as scope level"
As far as I can tell after peaking at the spec, `try` blocks should also be included in the scopes while `catch` and `finally` shouldn't. However `escope` only creates adds a scope for `catch` blocks

[code]

[2015-04-04 20:40] nzakas opened #58 "escope@3.0.0 issues"
I've just upgraded to EScope 3.0.0 for ESLint. Here are some issues I've encountered:

- [ ] `npm i escope@latest` still pulls in 1.0.3 instead of 3.0.0, making it hard to know the latest available version
- [ ] Unknown node type Super - The ESTree spec defined `Super` instead of `SuperExpression`

Otherwise, very smooth upgrade!

[2015-04-27 10:59] magalhas opened #60 "Try...catch scope is not being caught on escope@3"

[2015-05-04 17:48] mysticatea commented on #56
I got same bug.

[code]

In this case, `references` of `a` becomes an empty array.
I expect it to be 2 references; `a = 0` and `a = 1`.

Each scope have a reference that its `Reference.resolved` property is `null`.

[2015-05-04 17:58] michaelficarra commented on #56
For top-level `var`s, this behaviour makes sense: you can't tell if that will be a reference or not because the scope is dynamic:

[code]

Technically, we can be certain that the initialisation is a reference, so we could have either one or zero references. But I like the consistency of never tracking references for variables in dynamic scopes.

For `let`/`const` variables, though, the references

[2015-05-04 18:12] mysticatea commented on #56
Thanks for explain!
I got it.

[2015-05-05 21:59] jesstelford commented on #58
Even just a regular `npm install --save escope` gives version 1.0.3. It appears that maybe v1.0.3 was the most recently published version, so npm is confused about which version to pull?

This is a pretty serious mistake as any new installations are getting a quite old version of escope (I was thoroughly confused when trying to use it until I realized the version mismatch).

[2015-05-07 13:38] mysticatea commented on #56
I'm trying to fix this issue: https://github.com/mysticatea/escope/commit/c644d820012a9f19ef1d5f03bf584a0548eaffd5

Now, it became passing very simple test cases.
But I'm worried about whether the direction of modifications is correct.

I modified `Scope.prototype.__close` method.
If the scope is the top-level, checks whether each reference is `let/const/class`'s.

I have not found the meaning tha

[2015-05-07 13:41] Constellation commented on #56
Great! Let's send pull request!

[2015-05-07 17:23] jrvidal commented on #33
Just for reference, eslint/eslint#2405 is blocked by this issue, more concretely by "Initializers in Destructuring Assignments".

[2015-05-08 16:23] #49 closed

[2015-05-08 16:23] #56 closed

[2015-05-08 18:19] jrvidal opened #62 "Destructuring introduces object properties as references"
Example code:
[code]
The output includes `prop` as a reference:
[code]

I'm not sure whether this is the intended behaviour.

[2015-05-08 22:47] nzakas opened #63 "SwitchStatement scope not being returned with acquire()"
I'm not sure if this is a bug or not, but this behavior is unexpected. If you can let me know if it's a bug, I can try to submit a patch.

If I call this in 3.0.0:

[code]

And the `node` is a `SwitchStatement`, `scope` is undefined. However, there actually is a scope of type `"switch"` that I expected to be returned by this.

Is this behavior expected or a bug?

[2015-05-08 22:48] nzakas commented on #63
Also verified as present in 3.0.1.

[2015-05-08 23:06] nzakas commented on #63
Nevermind, was running in ES5 mode (doh!)

[2015-05-08 23:06] #63 closed

[2015-05-08 23:07] Constellation commented on #63
:)

[2015-05-09 17:24] nzakas opened #64 "Destructured default doesn't recognize variable reference"
In the following code:

[code]

The `x` on the second line isn't recognized by escope as a reference to `x` on the first line.

Tested with 3.0.1 using ES6 mode.

[2015-05-19 23:40] michaelficarra commented on #64
Fixed by #65.

[2015-05-19 23:40] #64 closed

[2015-05-19 23:54] nzakas commented on #64
Thanks!

[2015-05-27 07:52] RReverser opened #67 "Use native Map and WeakMap when possible"
Current implementation relies on using `es6-map` and `es6-weak-map` unconditionally which sometimes conflicts with other already injected polyfills or native implementations.

Please make those imports conditional (depending on whether `Map` and `WeakMap` already exist in global scope).

[2015-05-27 07:54] #67 closed

[2015-05-27 07:55] RReverser commented on #67
Sorry, my bad, I had pretty old version installed from npm cache.

[2015-05-27 12:24] Constellation commented on #67
np :)

[2015-05-29 14:08] Constellation commented on #58
Hm, now I've published escope as `3.1.0`. But npm.js doesn't show it.
Maybe I missed some configurations...

[2015-05-29 14:10] Constellation commented on #58
Hm, I've logged in npm.js. So I've seen the `3.1.0` is released.

[2015-06-04 16:42] jbrumwell opened #68 "Destructuring results in invalid write reference"
Given the following code;

[code]

The result is two write declarations on variable `x` the first to `10` and the second to the empty object `{}`

![eslint-const-destruct](https://cloud.githubusercontent.com/assets/413363/7989381/23d33850-0ab7-11e5-964e-2584fbd53286.png)

[2015-06-05 04:49] mysticatea commented on #68
Yeah, I designed so.

escope makes writable-references for variable-initializers.
When it's used together with destructuring and default values, the variable makes multiple writable-references for its initializer.

So the `Reference` object has `init` property in order to check whether or not the reference is the initializer.

Please see also #65 and https://github.com/eslint/eslint/pull/2639

[2015-06-05 15:12] jbrumwell commented on #68
@mysticatea Thank you for responding, given your description of init and partial I would be able to implement the changes in behaviour.

Partial doesn't seem to be operating in the fashion you mention, here are the results for partial and init in two different circumstances;

`const { x = 10 } = { y: 15 };`

1. partial=false init=true // given your definition I'd expect this to be true
2. partial=

[2015-06-05 16:30] mysticatea commented on #68
On ‘const { x = 10 } = { y: 15 };`, `x` has two initializers.

1. `x = 10` is not partial.
2. `{x} = {y: 15}` is partial. This means `x = ({y: 15}).x`. A runtime optimizer may remove it. But we can assignment to `Object.prototype.x` anywhere, so escope (a static analyzer) cannot decide whether it is `undefined`.

[2015-06-05 17:05] jbrumwell commented on #68
I may be wrong but I don't think this is correct according to the [draft](http://people.mozilla.org/~jorendorff/es6-draft.html#sec-destructuring-assignment). My interpretation of the draft is that it creates a reference from the assignment expression, then declares the value with rhs destructuring if available and if not uses the default value on the assignment expression.

This makes sense becaus

[2015-07-01 03:26] mysticatea opened #70 "`Scope.isStrict` on Method Initializer Shorthand is wrong?"
[code]

As far as I know, class bodies are always strict mode, but object literal shorthands are not always strict mode.

But currently, Method Initializer Shorthand [makes always strict mode](https://github.com/estools/escope/blob/master/src/referencer.js#L390).

Is this correct behavior?

See Also: http://www.ecma-international.org/ecma-262/6.0/#sec-strict-mode-code

[2015-07-02 15:49] #70 closed

[2015-07-07 02:10] bakkot opened #72 "ES6 default parameters cause two write references"
(@michaelficarra)

See for example this test: https://github.com/estools/escope/blob/f237eefd4bfadfcf397e451219c3079e9bc3bb81/test/es6-destructuring-assignments.coffee#L340-L346

Note that there are two references with name `c` and `isWrite()` true: that is, two write references to `c`. This despite the fact that `c` will be written precisely once by the sample code. This is especially confusing i

[2015-07-07 02:46] michaelficarra commented on #72
Ping @mysticatea, author of https://github.com/estools/escope/commit/23bb40b835b01e14e086c98f24d746427c91d502 which added the referenced tests.

[2015-07-07 03:07] mysticatea commented on #72
escope had been making a writable reference for variable initializers, so I treated default parameters and default values of destructuring as same as that.
Currently, references for initializers, default parameters, and default values are have a property `init` as `true`.

[2015-07-17 14:44] jrvidal commented on #62
This is already solved.

[2015-07-17 14:44] #62 closed

[2015-07-17 15:36] jrvidal opened #73 "Block-level functions and web extensions"
Context: http://stackoverflow.com/questions/31419897/what-are-the-precise-semantics-of-block-level-functions-in-es6

I'm not well versed with the ES6 spec details, but from my understanding, there is some optional behavior for block-level function declarations that `escope` does not take into account.

In the following code:

[code]

the call to `bar` would not throw a `ReferenceError` if the [web

[2015-07-18 01:15] bakkot commented on #73
The behavior of the compatibility semantics (as I understand it) is as follows:
When a function body is instantiated, it looks for functions declared in blocks inside of the body which could be replaced with `var` declarations of the same name without causing an early error. This replacement does not actually occur, but an additional binding may be created. Essentially this requirement means that

[2015-07-18 08:31] mysticatea commented on #73
It looks like a bug to me.

I guess escope should use `this.currentScope().variableScope` instead of `this.currentScope()` at this line: https://github.com/estools/escope/blob/master/src/referencer.js#L292

[2015-07-18 08:33] mysticatea commented on #73
Ah, there is a comment above the line...

[2015-08-05 01:30] mysticatea opened #74 "For customizing referencer logic."
I want to customize escope's referencer logic in order to use ES7 features.
However, `PatternVisitor` is not exposed, so I cannot do.

Could escope export that?

[2015-08-05 07:50] Prashanth-Nelli opened #75 "how to use this module at the client side ?"

[2015-08-19 23:12] nzakas opened #76 "ObjectPattern/ObjectExpression incorrectly assume all children are Property"
Both `ObjectPattern` and `ObjectExpression` assume that all nodes in `properties` will be of type `Property`, and that causes an error if there's ever a different node type present (such as with spread properties or rest properties).

Around here:
https://github.com/estools/escope/blob/master/src/referencer.js#L50

And here:
https://github.com/estools/escope/blob/master/src/referencer.js#L112

It

[2015-08-20 01:53] nzakas commented on #74
Related: #76

[2015-08-27 20:35] bergus commented on #73
I don't think there's anything wrong with the current behaviour. Even if it *may* work while not being recognised by this tool, you should strife to write valid code that does not rely on being executed in a legacy environment anyway.
So *if* this feature should be built into escope, it should definitively be hidden behind a flag.

[2015-08-28 00:19] skepticfx opened #77 "LeftHandSideExpression of Assignment Expression can be a MemberExpression as well."
I feel there is a small bug when walking the AST for `AssignmentExpression`, where the `LeftHandSideExpression` can be a `MemberExpression` as well in addition to `Pattern`.

Currently, the code only considers the `Pattern` type: https://github.com/estools/escope/blob/master/src/referencer.js#L460

Hence, a valid `MemberExpression` assignment like,
[code]
 would not be stored as a proper `WriteExp

[2015-08-28 01:33] mysticatea commented on #77
This is a not bug.
Currently, escope does not support property references.

[code]

In this case, a reading reference of `document` is needed. It's correct. If `document` is `null`, we see a null reference access error.
If there is a writing property reference of `document.cookie` additionally, it's very useful.

However, it probably is a breaking change.

Related: #41

[2015-08-28 04:27] skepticfx commented on #77
I see! Thanks for the explanation. Appreciate it!

[2015-08-28 04:27] #77 closed

[2015-09-05 09:20] #76 closed

[2015-09-16 05:33] robcolburn commented on #74
@mysticatea is this also resolved by #78 ?

[2015-09-16 05:57] mysticatea commented on #74
@robcolburn The intent of this issue was to export [`PatternVisitor`](https://github.com/mysticatea/escope/blob/cebbcf404f34791ea86a7284f99b556233fa5bc3/src/referencer.js#L31) to be able to customize.
But yes, as #78's result, this is not required for ES7 syntax, so I can close this.

[2015-09-16 05:57] #74 closed

[2015-10-07 09:48] apendua opened #81 "Add an option to ignore "isStrict" property"
Currently the `"use strict"` completely denies implicit globals detection:

https://github.com/estools/escope/blob/master/src/referencer.js#L449

While this probably makes a lot of sense in many scenarios, it also make things difficult when we try to use `escope` to detect all possible instances of implicit globals throughout the corresponding `ast`. Look here for example:

https://github.com/mete

[2015-10-25 02:04] kumavis commented on #57
`var` overwrites as you expect it would
[code]

in node im seeing an error for `const`, suggesting its the same scope
[code]

however with `let` it does behave as a separate scope
[code]

[2015-10-25 02:04] kumavis commented on #57
i would say this falls under the meta issue https://github.com/estools/escope/issues/33

[2015-10-25 02:57] michaelficarra commented on #57
node (V8) doesn't implement const properly.

[2015-10-25 03:57] kumavis commented on #57
a fork in the js spec! quick buy more ASIC v8 miners to gain quorum! wait i must be lost

[2015-10-25 03:59] kumavis commented on #57
hmm that does make things a bit tricky -- what behavior do we track? the spec? or the most common runtime's behavior?

[2015-10-25 04:02] kumavis commented on #57
I think this is the relevant v8 issue: https://code.google.com/p/v8/issues/detail?id=2198&q=const%20scope&colspec=ID%20Type%20Status%20Priority%20Owner%20Summary%20HW%20OS%20Area%20Stars

[code]

[2015-11-01 04:08] wolfgang42 commented on #60
Is this the same as #57 or is it a different issue?

[2015-11-01 04:32] wolfgang42 opened #86 "Content of try block gets a different scope from parent"
Given the following JavaScript:
[code]
escope thinks that the `v` inside the `try` block is in the global scope:
[code]

I discovered this when I tried to use escope to refactor a try...catch and found that the code broke because the code inside the try was still using the old variable name.

Here is a test case which does not pass:
[code]

I believe this is related to #57 but I'm not certain.

[2015-11-01 04:37] wolfgang42 commented on #58
`npm` is now installing `escope=3.2.0` as expected.

[2015-11-01 04:43] wolfgang42 commented on #86
#22 also looks related as well.

[2015-11-02 16:10] #58 closed

[2015-11-05 17:59] michaelficarra commented on #86
I don't see anything wrong with this.

[code]

[2015-11-05 17:59] #86 closed

[2015-11-05 18:21] wolfgang42 commented on #86
The problem is that the identifier `v` is viewed as having two *different* scopes, one inside the `try` and one outside of it. However it's the same `v` in both places.

[2015-11-19 21:21] dtothefp opened #88 "Errors in eslint with escope 3.2.1"
Duplicate of https://github.com/eslint/eslint/issues/4481, not sure which repo is more appropriate to post on.

<img width="578" alt="screen shot 2015-11-19 at 4 17 35 pm" src="https://cloud.githubusercontent.com/assets/4656726/11284660/115312ee-8ed9-11e5-9a99-12968f26f071.png">

[code]

[code]

Turns out the issues is with `escope` if I install 3.2.0 all works as expected or I guess more accurate

[2015-11-19 21:25] michaelficarra commented on #88
See my comment over there. We'll add this when it's an actual ECMAScript feature.

[2015-11-19 21:32] michaelficarra commented on #88
Re-opening until I can confirm that the given program's scope analysis is correct.

[2015-11-19 23:28] thoov commented on #88
I am running into the same issue

[2015-11-19 23:48] dtothefp commented on #88
@michaelficarra this just started happening for me today on Travis. Using eslint `1.9.0` had to use Kaleidoscope to diff my node_modules and by chance found the solution. Like I said not sure if if this issue should be here or on the eslint repo just want to cover my bases and get my builds working again.

[2015-11-20 04:24] evenchange4 commented on #88
+1  escope@3.2.0 all works fine for me.

[2015-11-20 04:34] wuct commented on #88
I set escope to v3.2.0 and all works fine

[2015-11-20 10:31] Constellation commented on #88
Nice catch! Could you show me AST dump produced by `babel-eslint` parser? It could help us a lot :)

[2015-11-20 11:06] Constellation commented on #88
It seems that, `babel-eslint` dumps `SpreadProperty` node, that is not supported by `escope`.
And this `SpreadProperty` is handled by `babel-eslint`. Investigating...

[2015-11-21 12:53] Constellation commented on #88
Merged the change and published `escope@3.3.0`.

[2015-11-21 12:53] #88 closed

[2015-11-22 21:14] dtothefp commented on #88
@Constellation as far as I can tell this issue is still not resolved with 3.3.0. Made a demo repo here https://github.com/dtothefp/escope-broken. Not sure if I'm doing something wrong?

[2015-11-23 13:41] plievone opened #90 "RangeError: Maximum call stack size exceeded in v3.2.1"
There is a strange situation that started with escope v3.2.1, and only with npm 2, not 3. To reproduce:

[code]
Result: `RangeError: Maximum call stack size exceeded at Referencer.Visitor.visitChildren (graphql-js/node_modules/eslint/node_modules/escope/node_modules/esrecurse/esrecurse.js:67:48)`

This is due to eslint depending on escope@3.x, and escope depending on both esrecurse and estraverse,

[2015-11-23 17:47] brunops commented on #88
I believe I'm having this problem too. Webpack works fine with `escope@3.2.0` but fails with `escope@3.2.1` or new `3.3.0`

![screen shot 2015-11-23 at 9 45 31 am](https://cloud.githubusercontent.com/assets/1735844/11344561/fe4a05b8-91c6-11e5-994a-b0b268080c77.png)

[2015-11-23 19:00] plievone commented on #90
escope uses estraverse.Syntax directly and via esrecurse, so those object identity checks could fail there if they are from separate estraverse modules (haven't investigated more). But I suspect a more probable cause might be 'babel-eslint' not finding the estraverse if it is under esrecurse, so patching the wrong estraverse. Will look into it some more. If so, will move this issue to babel-eslint

[2015-11-23 21:03] plievone commented on #90
I could get rid of the error by updating babel-eslint from 4.0.10 to 4.1.5. The file (eslint/node_modules/escope/node_modules/esrecurse/node_modules/estraverse) is still unpatched, but eslint works for me. I filed an issue in babel-eslint (babel/babel-eslint/issues/211), in case the file should be patched. But closing this issue. Feel free to open if you think that using two estraverse module inst

[2015-11-23 21:03] #90 closed

[2015-11-23 21:15] michaelficarra commented on #90
@plievone You are right, the problem exists in how babel-eslint integrates with escope through mutation of estraverse. When multiple consumers of escope assume they can integrate in this way, issues such as this one arise. It's a problematic design. escope should probably have an interface for accepting a custom estraverse or esrecurse, instead of consumers of escope trying to touch things they sh

[2015-11-23 22:02] Constellation commented on #88
@dtothefp, @brunops

This issue is related to how `babel-eslint` works with `eslint`.
See https://github.com/babel/babel-eslint/pull/209.

[2015-11-23 22:24] brunops commented on #88
Thanks @Constellation
It seems like bumping `babel-eslint` from `^3.1.0` to `^4.1.0` did the trick :+1:

[2015-11-24 09:41] nikogu opened #91 "v3.3.0 Maximum call stack size exceeded"
![image](https://cloud.githubusercontent.com/assets/1179603/11363088/96650e0e-92d2-11e5-9a26-cd6efca82d57.png)

v3.2.0 is ok

[2015-11-24 09:48] michaelficarra commented on #91
Did you try searching for duplicates?

[2015-11-24 09:48] #91 closed

[2015-11-24 09:53] nikogu commented on #91
i transfer issue to eslint ....  https://github.com/eslint/eslint/issues/4534

[2015-11-24 09:59] michaelficarra commented on #91
There's duplicates there as well...

[2016-01-03 15:12] nre opened #92 "Add feature: implied strict mode"
I would like to add an 'implied strict mode' feature to escope.

JS without a `"use strict";` directive can still be run in strict mode:

* In Node: e.g. `node --use_strict -e "var private;"`
* In browsers: Build tools and module bundlers can add `"use strict";` automatically.

JSHint has an option for `strict: implied` in v2.9. I would like to add this feature to ESLint (eslint/eslint#4832).

Ple

[2016-01-03 15:34] michaelficarra commented on #92
Why don't you just add the `'use strict'` directive to the AST yourself before passing it to escope?

[2016-01-03 16:01] nre commented on #92
[That suggestion](https://github.com/eslint/eslint/issues/4832#issuecomment-168335647) was rejected by @nzakas. He wanted a proper [flag in escope](https://github.com/eslint/eslint/issues/4832#issuecomment-168402119).

[2016-01-03 16:24] nzakas commented on #92
We don't want to modify the AST just to change strict mode.

[2016-01-03 16:27] michaelficarra commented on #92
I don't think this is something I would want to add to escope. You can easily make a valid AST invalid by adding a strict mode directive, and in the same way you could make a program nonsensical by trying to treat it as strict mode code when it was parsed in sloppy mode.

[2016-01-03 16:36] nzakas commented on #92
This is the same problem as using sourceType or ecmaVersion. Any difference between parsing and scope analysis will cause a problem, so it's up to the consumers to manage that. That's better than modifying an AST after it was produced, as that can potentially affect a lot more.

What we are really asking for here is just access to the internal strict mode tracker so it can be changed.

[2016-01-03 19:11] nre commented on #92
Passing the same options to the parser and escope (and the risk that someone mightn't pass the same options to both) is only a symptom of the problem, not the cause.

The parser should be saving its info about strict mode (and other things) in the AST, so that escope doesn't have to work it out too. The problem is that they are independently trying to answer some of the same questions.

[2016-01-05 19:09] apendua commented on #81
Anyone?

[2016-01-05 19:23] michaelficarra commented on #81
I'm not really sure what the ask is here.

[2016-01-06 09:03] nre commented on #92
@Constellation, do you approve of the proposed 'implied strict mode' feature?

[2016-01-09 09:51] nre commented on #92
ping @Constellation

[2016-01-09 15:49] nzakas commented on #92
@nre why don't you put together a PR so we can see how complex of a change it is? Sometimes code is a better argument. :)

[2016-01-11 17:22] eventualbuddha opened #96 "Move tests to ES6?"
I'd be happy to do the work to support this as a test bed for [decaffeinate](https://github.com/eventualbuddha/decaffeinate).

[2016-01-11 17:38] michaelficarra commented on #96
Yeah, let's do it!

[2016-01-18 05:41] #96 closed

[2016-01-28 23:08] #92 closed

[2016-01-29 11:31] nre opened #98 "New release, please"
A new release of Escope on npm would allow ESLint to use the new 'implied strict mode' feature (#93).

If this feature is not significant enough to deserve its own version bump, then perhaps a pre-release of v3.4.0 would be possible?

Thank you

[2016-02-01 16:36] michaelficarra commented on #98
Published 3.4.0.

[2016-02-01 16:36] #98 closed

[2016-02-01 17:18] keithamus opened #99 "3.4.0 breaks babel-eslint"
Hey, thanks for making a great project!

Sadly, it looks like `3.4.0` broke eslint with babel-eslint:

[code]

[2016-02-01 17:19] keithamus commented on #99
If you'd like me to make a reduced test case, I can do so. Let me know if you'd like anything else from me too.

[2016-02-01 17:32] bluejamesbond commented on #99
+1

[2016-02-01 17:42] nihey commented on #99
+1

[2016-02-01 17:50] djMax commented on #99
+1

[2016-02-01 18:20] mitchhentges commented on #99
+1

[2016-02-01 18:37] jmeline commented on #99
+1

[2016-02-01 18:48] michaelficarra commented on #99
Strange, there's only been one nontrivial commit since 3.3 (https://github.com/estools/escope/commit/17f56889e202e1453f40a7ca669b42b8e801d62f). @nre?

[2016-02-01 19:03] tony99nyr commented on #99
Yeah this is a complete blocker for us.  +1

[2016-02-01 19:18] nre commented on #99
@michaelficarra
I haven't been using babel-eslint, but I'll try and work out what's gone wrong.

[2016-02-01 19:28] adamlevasseur commented on #99
+1

[2016-02-01 19:35] hzoo commented on #99
Just saw this now. It's the babel 6 update - Just need to update the require statements (https://github.com/babel/babel-eslint/pull/244) everyone can follow https://github.com/babel/babel-eslint/issues/243

[2016-02-01 19:39] nre commented on #99
@michaelficarra

The transpiled file `lib/referencer.js` looks completely different in v3.3 and v3.4. Here is `visitClass` in v3.3:
[code]
And this is why it can't be found in v3.4:
[code]

[2016-02-01 19:40] dysfunc commented on #99
+1

[2016-02-01 19:42] michaelficarra commented on #99
@nre Don't bother.

Closing, as this is certainly a problem with the hacky way babel-eslint is trying to monkeypatch escope. If they're doing that, they should be responsible and lock the version down.

[2016-02-01 19:42] #99 closed

[2016-02-01 19:45] hzoo commented on #99
@michaelficarra yeah it's definitely something that needs to be updated in babel-eslint. Also we can lock the escope version since babel-eslint doesn't have escope as a dependency (it's using the one in eslint).

[2016-02-01 20:31] kittens commented on #99
@michaelficarra The monkeypatching is only necessary because ESLint and Escope lack any extension APIs.

[2016-02-01 20:39] nzakas commented on #99
Let's be clear for anyone else that might come across this issue: the `parser` configuration for ESLint was intended for modules that look like Esprima and would produce an ESTree-compatible tree. What babel-eslint is doing, reaching up into ESLint's dependencies, is far beyond the scope of what was intended and is definitely a void-your-warranty situation.

@kittens I previously [asked you for fe

[2016-02-01 21:16] kittens commented on #99
@nzakas Yeah I know, I really appreciate your cooperation. I was just giving some historical context. I don't work on `babel-eslint` and have stepped away from Babel core mostly so I lack the time and oversight to make any useful suggestions.

[2016-02-01 21:39] nzakas commented on #99
@kittens no worries, @hzoo and I will be continue plugging along to see if we can figure out something useful.

[2016-02-02 18:32] alexeyraspopov commented on #99
Okay, now we have both babel/babel-eslint#243, estools/escope#99 closed and no solution. Where and how it can be fixed? Users in real world are suffering from broken things

[2016-02-02 20:27] nre commented on #99
From babel/babel-eslint#243:

    This is fixed in the latest 2 versions (update your babel-eslint).

    npm i babel-eslint will be >= 4.1.7.
    Use npm install --save-dev babel-eslint@next or npm
      i babel-eslint@5.0.0-beta9

    On 02/02/2016 18:32, Alexey Raspopov
      wrote:

      Okay, now we have both babel/babel-eslint#243,
        estools/escope#99
        closed and no solution. W

[2016-03-08 10:23] xelzmm opened #102 "the two 'x' in 'var x;x=42;' are resolved as different variable"
[code]

why the two identifier `x` not resolved as same variable?

[2016-03-08 16:35] michaelficarra commented on #102
escope is very pessimistic when analysing dynamic scopes. You should try using the `optimistic` option:

[code]

[2016-03-08 16:35] #102 closed

[2016-03-09 06:47] xelzmm commented on #102
Thanks

[2016-03-29 17:07] CMatias opened #104 "Failing to import escope ES6 style"
Using babel to transpile the code.

[code]
[code]

I'm not sure if this is the correct place to address the problem but is there any idea on why this is happening ?

[2016-03-29 19:39] michaelficarra commented on #104
You want `import * as escope from "escope"; `.

[2016-03-29 19:39] #104 closed

[2016-04-02 18:10] bakunin95 opened #105 "Function Expression"
Lets say i have a function expression:

var myVar = function(){
}

or

myObject.myVar = function(){
}

then a scope exist of a function with no name and i can't find a way to get the myVar value.
How should i process to add the upper block of the function expression in escope result.

thanks.

[2016-04-03 16:28] #105 closed

[2016-04-13 16:11] CMatias opened #106 "Error on ImportDeclaration"
When running this piece of code:
[code]
on the ast generated by this file:

[code]

I get the following:  ImportDeclaration should appear when the mode is ES6 and in the module context

Searching google gets me to this issue https://github.com/eslint/eslint/issues/4344

Not sure if they're related but as it appears to be solved it may only be a dependency problem.

[2016-05-20 21:52] exander77 opened #107 "Update scope manager scopes once it was created"
I am using estraverse to modify ast with conjuction of escope. When tree is modifed by adding new function calls, scope manager stops working because estraverse enters the function which scope is unknown to scope manager (acquire returns null/undefined). There should be a feature to update scope manager for newly created code.

Connected with: https://github.com/estools/estraverse/issues/29

[2016-05-28 21:00] RReverser commented on #106
As it says, you need to analyze in ES6 mode and module context:

[code]

[2016-05-28 21:00] #106 closed

[2016-05-28 21:01] RReverser commented on #35
I think this is irrelevant at this point, so closing. Please reopen if that version is still important.

[2016-05-28 21:01] #35 closed

[2016-05-28 21:02] RReverser commented on #60
Closing as a duplicate.

[2016-05-28 21:02] #60 closed

[2016-05-28 21:26] RReverser commented on #81
I'm closing this for now. `isStrict` is just a flag which is part of the output, escope doesn't alter any behavior depending on it as far as I can tell from the code. If the issue still exists, please reopen it with detailed examples of what you expect / are actually getting.

[2016-05-28 21:26] #81 closed

[2016-05-28 21:28] RReverser opened #108 "Add support for label scoping"
Wondering if it would make sense to support labels and `continue` / `break` references as part of the escope's scope model. Theoretically, it seems to be a good fit for that kind of task as they can be also nested, need to be properly resolved depending on the scope they're in, etc.

[2016-05-28 21:46] michaelficarra commented on #107
No, you'll just need to run escope again.

[2016-05-28 21:46] #107 closed

[2016-05-28 22:18] exander77 commented on #107
If my modifications are scope dependent, I would need to run escope again after every single modification. This would be a pretty big overhead.

I already tried several approaches. For example creating new AST for the modified part and running escope on that new AST and if node cannot be resolved in scope of current scope manager, than I tried to resolve it in the scope of scope manager of the ori

[2016-06-03 10:12] RReverser commented on #57
Well, it's not "most common", it was just something not implemented in one particular engine yet, so yes, we should always strive for the spec compatibility. Closing as it looks like non-bug to me.

[2016-06-03 14:13] michaelficarra commented on #57
Re-opening until we can confirm that all blocks are given a scope, including try, catch, and finally.

[2016-06-03 14:19] RReverser commented on #57
If that's the goal (all blocks), it's much broader issue than current one. Can you please submit it as a separate issue?

[2016-06-03 14:20] michaelficarra commented on #57
Fine, just these three. All blocks is just generally related to correctness, so we'll assume they work until we hear otherwise.

[2016-06-03 15:07] RReverser commented on #57
@michaelficarra In that case, what's special about those that we would want to create scopes for them even when they're redundant?

[2016-06-03 15:48] michaelficarra commented on #57
@RReverser What's redundant about these blocks? They each create a scope object.

[2016-06-03 20:55] RReverser commented on #57
@michaelficarra Regular blocks do as well. I'm suggesting that we keep consistency and either create scope objects for any blocks or keep current behavior where scopes are created for functions + only those blocks that actually have block-scoped variables.

[2016-06-03 22:09] michaelficarra commented on #57
@RReverser Yeah, I was assuming we'd keep the current behaviour. If you look at the original example, it is claiming that we're not representing the try scope, even though it has a block-scoped declaration (`const`).

[2016-06-06 09:54] RReverser commented on #57
@michaelficarra Ah, I see where the misunderstanding came from. Agreed, that's a bug.

[2016-08-14 18:10] mazurov opened #109 "New escope-demo (not a bug)"
I've just updated escope-demo web app that uses **the latest escope and esprima** versions:

- http://mazurov.github.io/escope-demo/
- http://mazurov.github.io/eslevels-demo/

[2016-09-23 19:03] JamesHenry opened #111 "Add node.body check before attempting to vist children"
Hi there,

On a couple of occasions whilst we have been developing the typescript-eslint-parser, we have come up against the fact that escope referencer throws if there is no body on a `FunctionExpression`.

In TypeScript, there are a actually a few situations where a function can be defined with no body:

[code]

Please see this issue for one such example: https://github.com/eslint/typescript-esl

[2016-09-30 19:19] nzakas commented on #111
@michaelficarra I think you're the only other person besides me who monitors the repo actively. Do you have thoughts about this?

[2016-10-02 05:45] michaelficarra commented on #111
This is something I would vehemently oppose. escope operates on estree ASTs. FunctionExpression nodes must have a body, so escope may safely assume that it is there.

[2016-10-02 05:45] #111 closed

[2016-10-02 05:58] corbinu commented on #111
@michaelficarra I am sorry just am a little confused this is a kind of TypeAnnotation no? Which is defined for estree

https://github.com/estree/estree/blob/master/extensions/type-annotations.md

So is the issue that we should instead make a change to attach the additional method type declarations to the main Function expression? that way it for sure has the body

[2016-10-02 13:11] michaelficarra commented on #111
All FunctionExpression nodes must have a body, and the type annotations extension to estree does not change that fact.

I can't understand the rest of your comment.

[2016-10-02 16:26] corbinu commented on #111
@michaelficarra Yes I specifically proposed a solution that would give them all a body. I am saying that these statements are not really functions anyway they are TypeAnnotations. So the correct solution would be to attach them to the FunctionExpression they are annotating that does have a body. Rather than at the moment where they are treated as a separate FunctionExpression without a body.

[2016-10-02 17:55] michaelficarra commented on #111
Please paste a minimal repro case with observed and expected behaviour so we can stop miscommunicating.

[2016-10-02 18:12] corbinu commented on #111
@michaelficarra @JamesHenry linked the issue with the repo case when he created this issue. Here is is again:

estools fails errors on the following:
[code]

At the moment `public test(param1: Number): Test;` is being treated as a FunctionExpression without a body. So our simple solution was to allow function expressions to not have a body. You have argued that since FunctionExpressions must have

[2016-10-03 00:42] michaelficarra commented on #111
It seems your parser is outputting an AST that is like estree but with an extension that is not permitted. If you would like your parser to output something that can work with escope, you will have to take it up with them. escope will continue to support only estree and its official extensions.

[2016-10-14 07:55] wtgtybhertgeghgtwtg commented on #67
Now that

[2016-10-17 20:46] mickael9 opened #112 "Variables from global scope have empty references array"
Using the following example code:

[code]

Here the actual output is `0 2`. The expected output is `3 2` :
- `a` has 3 references (from itself and from `b` and `c` declarations)
- `b` has 2 references (from itself and from `c` declaration)

[2016-10-20 05:54] wtgtybhertgeghgtwtg opened #113 "Drop `es6-map`."
Doesn't Babel already cover this?

[2016-10-27 14:11] BuildingJarl commented on #11
+1 it would also be really helpful to get a short description of the properties the scope tree has.
E.g.

`
{
  __declaredVariables:
  __left
  block
  ...
  set       //what does this mean?
  taints   //what does this mean?
 ...
}
`

[2016-10-27 14:51] BuildingJarl opened #114 "Function scope arguments variable"
Function scopes have a variable named arguments in variables array. Could you please explain why?

[code]

[code]

[code]

[2016-10-27 15:21] michaelficarra commented on #114
JavaScript functions introduce a variable named `arguments` into scope. You can confirm this yourself by reading the language specification.

[2016-10-27 15:21] #114 closed

[2016-11-25 21:50] mrennie opened #115 "Drop using require'd assert in favour of just throwing an error"
In a few places in the code, assert is require'd and used to throw a simple error.

You should remove this and simply 'throw new Error(...)'. The benefit of doing so is that it shrinks the browserify'd library considerably.

[2016-11-25 21:58] mrennie commented on #113
If you drop es6-map, es6-weak-map and fixed issue #115, the browserify'd version of the lib drops from ~7200 LOC to ~4200 LOC.

[2016-11-28 22:36] mrennie opened #116 "Enter the version directly in index.js"
Rather than require'ing the package.json simply to read the version number, you should just enter it in there each release.

Remove the import statement and add a const (or something) by the export at the end.

This simple change shrinks the browserified version of the lib from ~7140LOC to ~7060LOC

[2016-12-23 16:22] hcvazquez opened #117 "Problem with unused library functions"
My name is Hernan; with a group of colleagues we are conducting a research about unused code present in dependencies of JavaScript projects. We call this functions, UFF (Unused foreign functions). We found that in most projects there exist a great amount of UFF that are being included in the final bundle.

In the case of escope (3.6.0) our tools detected approximately 201 unused function in the de

[2017-05-16 06:35] adiba opened #119 "let declaration treated like var declaration"
This should throw an error on execute if `a` is not defined outside the blocks.

[code]

However, escope treats both `a`s as the same variable.
Tested with http://esprima.org/demo/rename.html

Related: https://github.com/estools/escope/issues/57

[2017-07-09 22:39] #117 closed

[2017-10-16 16:08] #113 closed

[2017-11-06 18:26] lainverse opened #125 "Can't locate variable within named function's scope when function assigned to other variable"
Here is an example code:
[code]

Expected result:
undefined 'a' true
a b true
undefined 'c' true
undefined 'd' true
x z true

Actual result (notice second and third rows):
undefined 'a' true
a b false
!!!subscope: true
undefined 'c' true
undefined 'd' true
x z true

Why is it like that?

Also, the only variable available in the scope of function 'a' is 'a' which points to function itself.

[2017-11-06 19:47] michaelficarra commented on #125
Named function expressions create an extra scope object which only contain the function name binding. It should have a child scope which contains all of the bindings in the function body and parameter list.

[2017-11-07 00:30] lainverse commented on #125
To be honest such behaviour doesn't makes much sense from my point of view, but if this is what actually happening when it runs then ok. However, why does 'acquire' points to this particular scope? It's rather inconvenient and inconsistent in combination with traverse. It makes more sense to point to actual function's scope. That one would remain available through .upper anyway.

[2017-11-07 15:27] michaelficarra commented on #125
I disagree. The nearest scope object to the function expression's AST node is the one containing the function name. I would be okay with associating the inner scope object with the FunctionBody node, if that's not how it's already done today.

[2017-11-07 15:57] lainverse commented on #125
Ah, I see there is scope.functionExpressionScope marker there to know when to go one step further.

[2017-11-20 16:27] ivanbacher opened #126 "Function declarations attached to block scope?"
Say we have the following code:
[code]
which produces the following scope tree:
[code]

However, if we take a look at the variables array from the global scope object:

![screen shot 2017-11-20 at 16 20 38](https://user-images.githubusercontent.com/5493114/33028825-ceac972c-ce0e-11e7-83c6-b3cccd9cdf39.png)

we can see that only two variables belong to the global scope, `zz` and `bb`. Should `aa` n

[2018-05-04 06:51] vincentdchan opened #127 "Another version of escope"
Hi, I am writing a [plugin](https://github.com/vincentdchan/webpack-deep-scope-analysis-plugin) for webpack to do deep socpe analysis. I modified `escope` and wrapped it into Typescript. just see [src/](https://github.com/vincentdchan/webpack-deep-scope-analysis-plugin/tree/master/src)

There are several difference:

- TypeScript
- `modules` are split into several files
- `ImportManager` and `Expo

[2018-10-10 03:04] juniorfans opened #128 "what doen 'through' in escope mean?"
![image](https://user-images.githubusercontent.com/18361225/46710817-2eeb8c80-cc7c-11e8-93bc-a6f3a7e35cc7.png)

[2018-10-10 03:10] juniorfans commented on #128
ok, i find it, it means: The references that are not resolved with this scope.
http://estools.github.io/escope/Scope.html
http://estools.github.io/escope/escope.js.html#line422

[2018-12-04 03:17] juniorfans opened #129 "Maybe i find a bug in escope ?"
is it a bug ?

[2019-03-13 20:47] getify opened #130 "Is ES6 parameter scope not supported?"
Apologies if this is a known problem. I couldn't quite tell from my review of existing issue threads.

My problem is related to the scopes set up by this code:

[code]

As you can see from the result output, the parameter list peculiarly has its own scope which is distinguishable when there's a closure in the parameter list. The `a` of value `5` is different from the `a` of value `2`.

So, I would

[2019-04-24 21:41] shannon commented on #130
@getify I believe eslint uses a fork https://github.com/eslint/eslint-scope

But I'm having the same issue over there https://github.com/eslint/eslint-scope/issues/34

[2020-04-26 05:31] brettz9 commented on #127
By "scopes are split into several files", do you mean it builds a structure which can represent a whole application? That sounds very good to me.

[2021-08-06 01:59] JWY630 opened #134 "JSDoc unavailable: 404 error"
It turns out to be 404 error when I was trying to access JSDoc on https://constellation.slowstart.org/escope/. Is there other ways that I can use to get documentation?

[2021-12-08 20:08] #112 closed